html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

// md-sidenav, 
// md-sidenav.md-locked-open, 
// md-sidenav.md-closed.md-locked-open-add-active {
//     min-width: 200px;
//     width: 85vw;
//     max-width: 200px;
// } 


.apiary-text-multiline{
    white-space: pre;
}

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

md-list .md-button.selected {
    color: #03a9f4;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px
}

// .center-modal{
//     position: fixed;
//     top: 10%;
//     left: 18.5%;
//     z-index: 1050;
//     width: 80%;
//     height: 80%;
//     margin-left: -10%;
// }

.loginBox {
    margin-top: 40px;
    max-width:  90%;
    width: 500px;
  
}

// .loginPadding {
//     min-height: 500px;
// }

.scrollable-nav-content{
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto
}

.left-sidenav-search-box {
    margin: 5px;
}

