html, body {
    font-family: 'Roboto', sans-serif;
    // font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.apiary-text-multiline{
    display: block;
    white-space: pre-wrap;
}

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

md-list .md-button.selected {
    color: #03a9f4;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px
}

.loginBox {
    margin-top: 40px;
    max-width:  90%;
    width: 500px;
  
}

.scrollable-nav-content{
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: auto
}

.left-sidenav-search-box {
    margin: 5px;
}

.formError{
    color: red;
}

.apiary-inspection-description{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.date-row {
    margin: 16px 0px;
}




// .animate-repeat {
//   height: 220px;
//   min-height: 220px;
// }

// .animate-repeat.ng-move,
// .animate-repeat.ng-enter,
// .animate-repeat.ng-leave {
//   -webkit-transition: all .5s ease-in-out;
//   transition: all .5s ease-in-out;
// }

// .animate-repeat.ng-leave.ng-leave-active,
// .animate-repeat.ng-move,
// .animate-repeat.ng-enter {
//   opacity: 0;
//   height: 0;
//   min-height: 0;
// }

// .animate-repeat.ng-leave,
// .animate-repeat.ng-move.ng-move-active,
// .animate-repeat.ng-enter.ng-enter-active {
//   opacity: 1;
//   height: 220px;
//   min-height: 220px;
// }

// .animate-repeat.ng-leave-stagger {
//   /* this will have a 100ms delay between each successive leave animation */
//   -webkit-transition-delay: 0.125s;
//   transition-delay: 0.125s;

//   /* in case the stagger doesn't work then these two values
//    must be set to 0 to avoid an accidental CSS inheritance */
//   -webkit-transition-duration: 0s;
//   transition-duration: 0s;
// }

// /**
//  * Stagger ENTER ANIMATION
//  */
// .animate-repeat.ng-enter-stagger {
//   /* this will have a 100ms delay between each successive enter animation */
//   -webkit-transition-delay: 0.125s;
//   transition-delay: 0.125s;

//   /* in case the stagger doesn't work then these two values
//    must be set to 0 to avoid an accidental CSS inheritance */
//   -webkit-transition-duration: 0s;
//   transition-duration: 0s;
// }

