<navigation></navigation>
<div class="container">
    <button class="btn btn-success" ng-click="vm.popupNewHive()">Add hive</button>
    <table class="table">
        <thead>
            <tr>
                <th>Reg no</th>
                <th>Location</th>
                <th>Queen year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hive in vm.hives">
                <td>{{ hive.regNo }}</td>
                <td>{{ hive.location }}</td>
                <td>{{ hive.queenYear }}</td>
                <td>
                    <button class="btn btn-default" ng-click="vm.showDetail(hive)">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>