<!--<div class="container">
    <button class="btn btn-success" ng-click="vm.popupNewHive()">Add hive</button>
    <table class="table">
        <thead>
            <tr>
                <th>Reg no</th>
                <th>Location</th>
                <th>Queen year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hive in vm.hives">
                <td>{{ hive.regNo }}</td>
                <td>{{ hive.location }}</td>
                <td>{{ hive.queenYear }}</td>
                <td>
                    <button class="btn btn-default" ng-click="vm.showDetail(hive)">
                        <i class="fa fa-search-plus fa-lg"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>-->

<!--<div layout="row">
    <div layout="vertical">
        <hives-sidenav hives="vm.hives"></hives-sidenav>
    </div>
    <div layout="column" flex id="wrapper">
        <navigation></navigation>

        <md-content flex id="content">
            
        </md-content>
    </div>

</div>-->


<div layout="row" flex layout-fill>
    <hives-sidenav layout="vertical" hives="vm.hives"></hives-sidenav>

    <div layout="column" flex id="wrapper">
        <navigation></navigation>
        <md-content flex id="content">
           
        </md-content>
    </div>
</div>
