<!--<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a ng-link="['Home']" class="navbar-brand">My Apiary</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ng-link="['Home']">Home</a></li>
                <li><a ng-link="['Hives']">Hives</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="vm.isLoggedIn"><a ng-link="['Register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-hide="vm.isLoggedIn"><a ng-link="['Login']"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                <li ng-show="vm.isLoggedIn" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{vm.currentUser.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="vm.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>
          <span>My Apiary</span>
        </h2>
        <span flex></span>
        <h5 ng-show="vm.isLoggedIn">{{vm.currentUser.name }}</h5>
        <md-button aria-label="Login" ng-if="!vm.isLoggedIn" ng-link="['Register']" >
          Register
        </md-button>
        <md-button class="md-icon-button" aria-label="Login" ng-if="!vm.isLoggedIn" ng-link="['Login']" >
          <ng-md-icon icon="login" ></ng-md-icon>
          <md-tooltip md-direction="left">Log in</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Logout" ng-if="vm.isLoggedIn" ng-click="vm.logout()">
          <ng-md-icon icon="logout"></ng-md-icon>
          <md-tooltip md-direction="left">Log out</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
</md-content>