<md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" 
            hide-gt-sm ng-show="vm.isLoggedIn" ng-click="vm.toggleSideNav()">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>
          <span>My Apiary</span>
        </h2>
        <span flex></span>
        <h5 ng-show="vm.isLoggedIn">{{vm.currentUser.name }}</h5>
        <md-button aria-label="Login" ng-if="!vm.isLoggedIn" ng-link="['Register']" >
          Register
        </md-button>
        <md-button class="md-icon-button" aria-label="Login" ng-if="!vm.isLoggedIn" ng-link="['Login']" >
          <ng-md-icon icon="login" ></ng-md-icon>
          <md-tooltip md-direction="left">Log in</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Logout" ng-if="vm.isLoggedIn" ng-click="vm.logout()">
          <ng-md-icon icon="logout"></ng-md-icon>
          <md-tooltip md-direction="left">Log out</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
</md-content>