<md-content>
    <md-card ng-repeat="inspection in vm.inspections | orderBy: '-date':true">
        <md-card-content>
            <p>Date: {{inspection.date | date: format: mediumDate }}</p>
            <p>Type: {{inspection.type}}</p>
            <p>Description: {{inspection.description}}</p>
            <p>Brood frames: {{inspection.broodFrames}}</p>
            <p>Pollen frames: {{inspection.pollenFrames}}</p>
            <p>Food frames: {{inspection.foodFrames}}</p>
            <p>Note: {{inspection.note}}</p>
        </md-card-content>
    </md-card>
</md-content>