<!--<navigation></navigation>-->
<div class="container">
    <div class="row">
            <h4 class="col-md-12">{{ vm.hive.regNo }}</h4>
        <div class="col-md-3">
            <div>Queen year: {{ vm.hive.queenYear }}</div>
            <div>Location: {{ vm.hive.location }}</div>
            <div class="list-group">
                <a class="list-group-item" ng-link="['Inspections']">Inspections</a>
                <a class="list-group-item" ng-link="['Extractions']">Extractions</a>
            </div>
        </div>
        <div class="col-md-7">
            Note:
            <div class="apiary-text-mulitiline">{{ vm.hive.note }}</div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success pull-right" ng-click="vm.popupEditHive()">Edit hive information</button>
        </div>
        <div class="col-md-12">
            <ng-outlet></ng-outlet>
        </div>
    </div>
</div>