<!--<navigation></navigation>-->
<!--<div class="container">
    <div class="row">
            <h4 class="col-md-12">{{ vm.hive.regNo }}</h4>
        <div class="col-md-3">
            <div>Queen year: {{ vm.hive.queenYear }}</div>
            <div>Location: {{ vm.hive.location }}</div>
            <div class="list-group">
                <a class="list-group-item" ng-link="['Inspections']">Inspections</a>
                <a class="list-group-item" ng-link="['Extractions']">Extractions</a>
            </div>
        </div>
        <div class="col-md-7">
            Note:
            <div class="apiary-text-mulitiline">{{ vm.hive.note }}</div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success pull-right" ng-click="vm.popupEditHive()">Edit hive information</button>
        </div>
        <div class="col-md-12">
            <ng-outlet></ng-outlet>
        </div>
    </div>
</div>-->

<!--<div layout="row" flex layout-fill>
    <hives-sidenav layout="vertical" hives="vm.hives" select="vm.select(value)" 
        selected="vm.selected"></hives-sidenav>-->

    <!--<div layout="column" flex id="wrapper">
        <navigation></navigation>-->
        <md-content flex id="content" layout="column">
            <div layout="row">
                <h2>{{vm.hive.regNo}}</h2>
            </div>
            <div layout="column">
                <div layout-gt-sm="row">
                    <div layout="column" flex="30">
                        <p class="md-body-1"><strong>Location:</strong> {{vm.hive.location}}</p>
                        <p class="md-body-1"><strong>Queen year:</strong> {{vm.hive.queenYear}}</p>
                    </div>
                    <div flex layout="row">
                        <p class="md-body-1 apiary-text-multiline" ><strong>Note: </strong> {{vm.hive.note}}</p>
                    </div>
                </div>
            </div> 
        </md-content>
    <!--</div>-->
<!--</div>-->