<div layout="column">
    <div layout-gt-xs="row">
        <div layout="column">
            <h2>{{vm.hive.regNo}}</h2>
            Location: {{vm.hive.location}} <br/> Queen: {{vm.hive.queenYear}}
        </div>
        <div layout="row" flex layout-align="end center">
            <md-button class="md-icon-button" ng-click="vm.parent.openHiveDialog($event, 'edit')">
                <ng-md-icon icon="edit"></ng-md-icon>
                <md-tooltip md-direction="top">Edit</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.parent.showConfirmDialog($event)">
                <ng-md-icon icon="delete"></ng-md-icon>
                <md-tooltip md-direction="top">Delete</md-tooltip>
            </md-button>
        </div>
    </div>
</div>