<div layout="column" flex layout-fill>
<navigation></navigation>
    
<md-content layout="column" flex layout-padding>
    <h1 class="md-display-3">Welcome to MyApiary</h1>
    <h2 class="md-display-1" >An app to help beekeepers keep their bees buzzing!</h2>
    <p class="md-body-1" >If you already have an account, please<a ng-link="['Login']">log in</a>
    otherwise, you can <a ng-link="['Register']">register</a></p>
</md-content>
<div layout="row" class="footer" layout-align="start center" layout-padding>
    <p>&copy; 2016 admir.alicic@gmail.com</p>
</div>
 </div>
