<md-dialog>
    <form name="hiveForm" ng-submit="vm.save()">
        <md-dialog-content>
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Reg No</label>
                        <input ng-model="vm.hive.regNo" name="regNo" required>
                        <div ng-messages="hiveForm.regNo.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Location</label>
                        <md-select ng-model="vm.hive.location" name="location" required>
                            <md-option ng-repeat="location in vm.locations">
                                {{location}}
                            </md-option>
                        </md-select>
                        <div ng-messages="hiveForm.location.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Queen year</label>
                        <md-select ng-model="vm.hive.queenYear" name="queenYear" required>
                            <md-option ng-repeat="year in vm.years">
                                {{year}}
                            </md-option>
                        </md-select>
                        <div ng-messages="hiveForm.queenYear.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                </div>
                    <md-input-container class="md-block" flex>
                        <label>Note</label>
                        <textarea name="note" ng-model="vm.hive.note" rows="5"></textarea>
                    </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.save()" class="md-primary md-raised" ng-disabled="hiveForm.$invalid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

