<navigation></navigation>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p class="lead">Already a member? Please <a ng-link="['Login']">log in</a></p>
            <form ng-submit="vm.onSubmit()">
                <div role="alert" class="alert alert-danger" ng-show="vm.formError">{{ vm.formError }}</div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" 
                        ng-model="vm.credentials.firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" 
                        ng-model="vm.credentials.lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" 
                        ng-model="vm.credentials.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password" 
                        ng-model="vm.credentials.password">
                </div>
                <button class="btn btn-default" type="submit">Register!</button>
            </form>
        </div>
    </div>
</div>